DATABASE_URL="postgresql://postgres.gaqrjrlmgyhfnhaxndob:[CONSTRASEÑA]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres"
DIRECT_URL="postgresql://postgres.gaqrjrlmgyhfnhaxndob:[CONSTRASEÑA]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"