html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:"Inter", sans-serif;
}

/* ---- INFO PAISES ---- */
.content {
    flex: 1;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
  
#search {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}

td {
    background-color: gainsboro;
    padding: 15px;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
}

#card-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* ajusta tamaño de las casillas */
    gap: 20px; /* espaciado entre las cards */
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
}

.card {
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd; 
}

.card:hover img {
    transform: scale(1.1); /* zoom de bandera */
}

.card .content {
    padding: 15px;
    text-align: left; 
}

.card .content h3 {
    font-size: 18px;
    margin: 0 0 10px; 
    color: #333;
}

.card .content p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.control {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}