.tags {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.tag {
	background-color: #00d1b2;
	color: white;
	padding: 5px 10px;
	border-radius: 20px;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
}

.tag .delete-button {
	margin-left: 10px;
	background: none;
	border: none;
	color: rgb(240, 58, 58);
	font-size: 1rem;
	cursor: pointer;
}
